*{
	margin: 0px;
	border: 0px;
	padding: 0px;
}

.frame {
	height: 600px;
	width: 600px;
	border: 3px solid #000;
	overflow: hidden;
	margin: 30px auto;
}
#first-frame{
	animation: frameColor ease-in 12s infinite alternate
}


.circle {
	width: 100px;
	height: 100px;
	background-color: red;
	margin: 50px 0;
	position: relative;
	top: 450px;
	border-radius: 50%;
	animation: updown 3s 0.6s ease-in infinite alternate,
	leftright 6s 2s ease-in infinite alternate,
	ballColor 6s ease-in infinite alternate;;
}
.anty-circle {
	width: 100px;
	height: 100px;
	background-color: red;
	margin: 50px 0;
	position: relative;
	top: 300px;
	border-radius: 50%;
	left: 500px;
	animation: updown 2s 0.6s ease-in infinite alternate,
	antyleftright 4s 2s ease-in infinite alternate,
	ballColor 4s ease-in infinite alternate;
}
@keyframes updown{
	0%{transform: scale(1,1) translateY(-500px);}
}

@keyframes leftright {
	 0% {left: -2px;}
	100% {left: 507px;}
}

@keyframes antyleftright {
	 0% {left: 507px;}
	100% {left: -2px;}
}

@keyframes frameColor {
	0%{background-color: #444C5C;}
	33%{background-color: #CE5A57;}
	66%{background-color: #FFCE00;}
	100%{background-color: #78A5A3;}
}

@keyframes ballColor {
	0%{background-color: #78A5A3;}
	33%{background-color: #CE5A57;}
	66%{background-color: #444C5C;}
	100%{background-color: #80BD9E;}
}
#second-frame{
}
.switch {
	width: 100px;
	height: 150px;
	z-index: 40;
	position: absolute;

}
.switch:hover{
	background-color: lightblue;
}
.room{
	width: 600px;
	z-index: 10;
	height: 100%;
	width: 100%;
	background-image: url(19530-NS5ZNH.jpg);
	background-size: cover;
	position:absolute;
	width: 598px;
	height: 596px;
}
.dark{
	background: #000;
	z-index: 30;
	width: 599px;
	height: 599px;
	position: absolute;
	transition: all ease-in 3s;
}
.switch:hover + .dark{
	background: transparent; 
}
#third-frame{
	background: lightblue;
	color: #333;
	height: 600px;
	padding: 0;
	overflow-x: hidden;
}

@-moz-keyframes animate {
    0% {
        margin-left: -500px;
    }
    100% {
        margin-left: 100%;
    }
}

@-webkit-keyframes animate {
    0% {
        margin-left: -500px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animate {
    0% {
        margin-left: -500px;
    }
    100% {
        margin-left: 100%;
    }
}


.large {
	-webkit-animation: animate 25s linear infinite;
	-moz-animation: animate 25s linear infinite;
	animation: animate 25s linear infinite;
	
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
	margin-top: 150px;
}

.small {
	-webkit-animation: animate 12s linear infinite;
	-moz-animation: animate 12s linear infinite;
	animation: animate 12s linear infinite;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.medium {
	-webkit-animation: animate 15s linear infinite;
	-moz-animation: animate 15s linear infinite;
	animation: animate 15s linear infinite;
	
	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
	transform: scale(0.55);
}

.cloud {
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
	
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	
	-webkit-box-shadow: 0 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

	height: 100px;
	position: relative;
	width: 350px;
}

.cloud:after, .cloud:before {
  background: #fff;
	content: '';
	position: absolute;
	z-indeX: -1;
}

.cloud:after {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;

	width: 150px;
	height: 180px;
	left: 50px;
	top: -90px;
	
}

.cloud:before {
	
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;

	height: 110px;
	left: 180px;
	top: -50px;
	width: 100px;
}